/* Header Section */

header {
  background: url('../images/showcase-img.png') no-repeat left center/cover;
}
.nav-item .nav-link {
  padding: 10px 0 !important;
}

.showcase .photographer-name {
  font-size: 3.8rem;
  line-height: 1;
  margin: 1rem 0;
}

/* Accolades section */
.accolades .accolades-item {
  margin-top: 30px;
}

/* Portfolio Section */
.portfolio {
  text-align: center;
}

.portfolio h5 {
  margin-top: 1rem;
}

.portfolio #isotope-filters button {
  font-size: 0.8rem;
  padding-right: 5px;
  padding-left: 5px;
}

.portfolio .gallery {
  display: block;
}

.portfolio .gallery img {
  margin-top: 20px;
}

.portfolio .gallery img.lg {
  margin-top: 1rem;
}

/* Contact Section */
.contact .heading-1 {
  text-align: center;
}

.contact form {
  margin-top: 40px;
}

/* Footer Section */
.footer {
  text-align: center;
}

.footer .social-icons ul {
  justify-content: center;
  margin-top: 30px;
}

.footer .social-icons li {
  margin: 0px 10px;
}
